.footer {
  text-align: center;
  
  background: $bg-color;
  //   text-align: center;

  &__inner {
    padding-top: 30px;
    @include viewport-md {
      display: flex;
      flex-wrap: wrap;
    }
  }

  // .footer__location

  &__location {
    @include flex-center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;

    @include viewport-md {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex: 1 1 40%;
      order: 1;
    }
  }

  // .footer__location-adres

  &__location-adres {
    font-size: 16px;
    font-weight: 400;
    color: $main-color;
  }

  // .footer__location-link

  &__location-link {
    @include base-link($regular-color);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  // .footer__contacts

  &__contacts {
    @include flex-center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;

    @include viewport-md {
      display: flex;
      flex-direction: row;
      flex: 1 1 40%;
      order: 3;
      justify-content: flex-start;
      margin: 0;
    }
  }

  // .footer__contacts-social

  &__contacts-social {
    display: block;
    svg {
      width: 38px;
      height: 38px;
      fill: $regular-color;
    }
  }

  // .footer__contacts-phone

  &__contacts-phone {
    color: $alt-color;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
  }

  // .footer__contacts-email

  &__contacts-email {
    font-size: 16px;
    font-weight: 700;
    color: $regular-color;
    text-decoration: none;
  }

  // .footer__copyright

  &__copyright {
    color: $text-color;
    font-size: 16px;
    font-weight: 400;

    @include viewport-md {
      flex: 1 1 40%;
      order: 2;
      text-align: right;
    }
  }

  .separator {
    @include separator(2px);
    margin-bottom: 30px;
  }
}
