body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.wrapper {
  background: $gradient-supersoft;
  border-radius: 0 0 $radius-md $radius-md;
  padding-bottom: 60px;
  position: relative;
  &::after,
  &::before {
    position: absolute;
    content: '';
    bottom: -10px;
    left: 20px;
    right: 20px;
    height: 10px;
    background: #cacadb;
    border-radius: 0 0 12px 12px;
    }
  &::after {
    bottom: -20px;
    left: 40px;
    right: 40px;
    background: #E7E7F2;;
  }
}

.hidden {
  // display: none;
  width: 0;
  height: 0;
}

.container {
  padding: 0 30px;
  // від 0 до бескінечності

  @include viewport-md {
    // від 768 >
    max-width: 708px;
    margin: 0 auto;
  }

  @include viewport-lg {
    // від 1024 >
    max-width: 964px;
  }

  @include viewport-xl {
    // від 1440 >
    max-width: 1380px;
  }

  @include viewport-xll {
    max-width: 1760px;
  }

  //  //буде однаковий з кодом нижче

  // @media screen and (min-width: $breakpoint-xxl) {
  //   // від 1920 >
  //   max-width: 1760px;
  // }
}

.main-title {
  @include title;
}

.dotted {
  display: none;
  @include viewport-md {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: $radius-rounded;
    background: $basic-white;

    &--gray {
      background: $text-color;
    }
  }
}
